.sign__container {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 0 auto;
  margin-top: 70px;
  height: 580px;
}

@media screen and (min-height: 1024px) {
  .sign__container {
    margin-top: 232px;
  }
}

@media screen and (max-width: 767px) {
  .sign__container {
    width: 260px;
    height: 694px;
    margin-top: 56px;
  }
}

.sign__logo {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 767px) {
  .sign__logo {
    margin: 0 auto;
  }
}

.sign__heading {
  margin: 0;
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 767px) {
  .sign__heading {
    margin-top: 50px;
    text-align: center;
  }
}

.sign__form {
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .sign__form {
    margin-top: 80px;
  }
}

.sign__input-box {
  display: flex;
  flex-direction: column;
}

.sign__btn-box {
  display: flex;
  flex-direction: column;
}

.sign__submit-btn {
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 55px;
  border: none;
  border-radius: 3px;
  transition: linear 0.3s;
  color: rgba(255, 255, 255);
  background-color: rgba(52, 86, 243);
}

.sign__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.sign__submit-btn_disabled {
  background-color: white;
  border: solid 1px #c4c4c4;
  color: #c4c4c4;
}

.sign__question-box {
  display: flex;
  margin: 0 auto;
  margin-top: 16px;
}

.sign__question {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-right: 6px;
  color: rgba(160, 160, 160);
}

@media screen and (max-width: 767px) {
  .sign__question {
    font-size: 12px;
    line-height: 15px;
  }
}

.sign__link {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: linear 0.3s;
  color: rgba(52, 86, 243);
}

@media screen and (max-width: 767px) {
  .sign__link {
    font-size: 12px;
    line-height: 15px;
  }
}

.sign__link:hover {
  cursor: pointer;
  opacity: 0.7;
}