.not-found__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .not-found__container {
    top: 69.5%;
  }
}

.not-found__heading {
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 170px;
}

@media screen and (max-width: 768px) {
  .not-found__heading {
    font-size: 80px;
    line-height: 97px;
  }
}

.not-found__txt {
  margin: 0;
  padding-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .not-found__txt {
    padding-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }
}

.not-found__link {
  margin: 0;
  margin-top: 185px;
  text-decoration: none;
  color: rgba(52, 86, 243);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: linear .3s;
}

@media screen and (max-width: 768px) {
  .not-found__link {
    margin-top: 284px;
    font-size: 12px;
    line-height: 15px;
  }
}

.not-found__link:hover {
  cursor: pointer;
  opacity: 0.7;
}