.search {
  margin-right: 70px;
  margin-left: 70px;
}

@media screen and (max-width: 1279px) {
  .search {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.search__container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 84px;
  max-width: 1140px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.5);
}

@media screen and (max-width: 1279px) {
  .search__container {
    max-width: 708px;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 57px;
  }
}

@media screen and (max-width: 767px) {
  .search__container {
    max-width: 300px;
    padding-bottom: 43px;
  }
}

.search__form {
  margin: 0;
  width: 932px;
  height: 49px;
  margin-right: 40px;
  display: flex;
  position: relative;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .search__form {
    width: 100%;
    margin-right: 0;
  }
}

.search__input {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-radius: 50px;
  padding: 15px 70px 15px 22px;
  border: 1.5px solid rgba(170, 170, 170, 0.5);
}

.search__input:focus {
  outline: 1.5px solid rgba(170, 170, 170, 1);
  box-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.1);
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(160, 160, 160);
}

@media screen and (max-width: 767px) {
  .search__input::placeholder {
    font-size: 11px;
  }
}

.search__btn {
  width: 59px;
  height: 34px;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  border: none;
  border-radius: 48px;
  position: absolute;
  right: 7px;
  transition: linear 0.3s;
  color: rgba(255, 255, 255);
  background-color: rgba(52, 86, 243);
}

.search__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search__filter {
  display: flex;
}

@media screen and (max-width: 1279px) {
  .search__filter {
    margin-top: 38px;
  }
}

@media screen and (max-width: 767px) {
  .search__filter {
    margin-top: 45px;
  }
}

.search__filter-txt {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .search__filter-txt {
    font-size: 11px;
    ;
  }
}

/* стили чебокса слайдера /////////////////////////////////////////////////*/
.toogle-switch {
  position: relative;
  display: inline-block;
}

.toogle-switch__container {
  width: 36px;
  height: 20px;
  margin-left: 14px;
}

.toogle-switch .toogle-switch__ckeckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toogle-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
}

.toogle-switch__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  border: 1px solid white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  background-color: rgba(245, 245, 245);
}

.toogle-switch__ckeckbox:checked+.toogle-switch__slider {
  background-color: rgba(235, 235, 235);
}

.toogle-switch__ckeckbox:checked+.toogle-switch__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: rgba(43, 224, 128);
}