.portfolio__container {
    padding: 100px 70px 125px 70px;
}

@media screen and (max-width: 1023px) {
    .portfolio__container {
        padding: 0 50px 90px 50px;
    }
}

.portfolio__heading {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px;
    color: rgba(160, 160, 160);
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.portfolio__list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    border-bottom: 1px solid rgba(232, 232, 232);
}

@media screen and (max-width: 1023px) {
    .portfolio__list-item {
        font-size: 28px;
    }
}

.portfolio__list-link:hover {
    cursor: pointer;
}

.portfolio__list-link-img {
    float: right;
    width: 18px;
    height: 50px;
}

@media screen and (max-width: 1023px) {
    .portfolio__list-link-img {
        width: 16px;
    }
}

.portfolio__list-link-img:hover {
    opacity: 0.7;
}