.footer {
    background-color: rgba(248, 248, 248);
}

.footer__container {
    padding: 80px 70px 20px 70px;
}

.footer__heading {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: rgba(160, 160, 160);
    border-bottom: 1px solid rgba(232, 232, 232);
}

.footer__lower-part {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__year {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.footer__list-item {
    margin-right: 20px;
}

.footer__list-item:last-child {
    margin-right: 0;
}

.footer__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.footer__link:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}