.promo {
    background-color: #DDDEE3;
}

.promo__container {
    display: flex;
    padding: 75px 70px;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .promo__container {
        padding: 140px 44px 76px 44px;
        align-items: center;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 767px) {
    .promo__container {
        padding: 70px 10px 30px 10px;
    }
}

.promo__text {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .promo__text {
        align-items: center;
        text-align: center;
    }
}

.promo__heading {
    margin: 0;
    margin-bottom: 36px;
    width: 640px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

@media screen and (max-width: 1023px) {
    .promo__heading {
        width: 680px;
        font-size: 40px;
        line-height: 50px;
        margin-top: 48px;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 767px) {
    .promo__heading {
        width: 308px;
        font-size: 30px;
        line-height: 38px;
        margin-top: 44px;
        margin-bottom: 24px;
    }
}

.promo__note {
    margin: 0;
    margin-bottom: 146px;
    color: rgba(0, 0, 0, 0.5);
    width: 310px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 1023px) {
    .promo__note {
        margin-bottom: 92px;
    }
}

@media screen and (max-width: 767px) {
    .promo__note {
        width: 260px;
        margin-bottom: 80px;
    }
}

.promo__link {
    margin: 0;
    text-decoration: none;
    border: 1px solid black;
    width: 129px;
    height: 36px;
    text-align: center;
    justify-content: center;
    color: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 36px;
    border-radius: 3px;
}

.promo__link:hover {
    cursor: pointer;
    opacity: 70%;
    background-color: rgba(221, 222, 227, 0.8);

}

.promo__img {
    width: 310px;
    height: 304px;
}

@media screen and (max-width: 767px) {
    .promo__img {
        width: 210px;
        height: 206px;
    }
}